packer/var*.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
ansible/virtualenv/
*.retry
ansible/Infra*.json
jdauphant.nginx
db-role-infra
# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
